<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>비밀번호 찾기</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- 로그인 -->
<link rel="shortcut icon" href="/images/fav.jpg">
<link rel="stylesheet" href="/login/css/bootstrap.min.css">
<link rel="stylesheet" href="/login/css/fontawsom-all.min.css">
<link rel="stylesheet" type="text/css" href="/login//css/style.css" />

<!-- Favicon -->
<link href="/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
	rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
	rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/login/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link href="/login/lib/animate/animate.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/login/css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="/login/css/style.css" rel="stylesheet">

<script type="text/javascript">
	var msg = '[[${msg}]]';
	if (msg)
		alert(msg);
	function login() {
		var serData = $('#loginForm').serialize();
		$.ajax({
			url : '/login/loginForm',
			method : 'post',
			cache : false,
			data : serData,
			dataType : 'json',
			success : function(res) {
				alert(res.login ? '로그인 성공' : '로그인 실패');
				if (res.login == true) {
					location.href = "/home"

				}
			},
			error : function(xhr, status, err) {
				alert(err);
			}
		});
		return false;
	}
</script>
</head>

<body>
	<!-- Spinner Start -->
	<!--     <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"> -->
	<!--         <div class="spinner"></div> -->
	<!--     </div> -->
	<!-- Spinner End -->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/home" class="navbar-brand p-0">
            
                <h1 class="m-0"><i class="bi bi-house-door"></i>&nbsp;&nbsp;창업 커뮤니티 및 상권정보</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="/board/main" class="nav-link dropdown-toggle">커뮤니티</a>
                        <div class="dropdown-menu m-0">
                            <a href="/board/free/list" class="dropdown-item">자유게시판</a>
                            <a href="/board/ads/list" class="dropdown-item">광고게시판</a>
                            <a href="/board/notice/list" class="dropdown-item">공지사항</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">상권 정보 분석</a>
                        <div class="dropdown-menu m-0">
                            <a href="price.html" class="dropdown-item">그래프 시각화</a>
                            <a href="feature.html" class="dropdown-item">지도 시각화</a>
                            
                        </div>
                    </div>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">이용안내</a>
                        <div class="dropdown-menu m-0">
                            <a href="/home/dataSource" class="dropdown-item">데이터 출처</a>
                            <a href="/home/siteIntroduction" class="dropdown-item">사이트 소개</a>
                            
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div th:if="${idMac==null}">
                <a href="/login/loginForm" class="btn btn-primary py-2 px-4 ms-3">로그인</a>
                <a href="/user/addForm" class="btn btn-primary py-2 px-4 ms-3">회원가입</a>
         </div></div>
         <div th:if="${idMac !=null}">
         <h5 th:text="${idMac}+'님 환영합니다'" th:style="'color:gray'"></h5>
          <a href="" class="btn btn-primary py-2 px-4 ms-3" id="logout">로그아웃</a>
          <a th:href="'/home/myPage/'+${idMac}" class="btn btn-primary py-2 px-4 ms-3">마이페이지</a>
         </div>
            </div>
        </nav>
    <!-- Navbar End -->


	<!-- Full Screen Search Start -->
	<div class="modal fade" id="searchModal" tabindex="-1">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
				<div class="modal-header border-0">
					<button type="button" class="btn bg-white btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div
					class="modal-body d-flex align-items-center justify-content-center">
					<div class="input-group" style="max-width: 600px;">
						<input type="text"
							class="form-control bg-transparent border-primary p-3"
							placeholder="Type search keyword">
						<button class="btn btn-primary px-4">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Full Screen Search End -->

	<!-- 로그인 -->
	<main class="h-100">
		<div class="container-fluid full-bg h-100">
			<div class="container h-100">
				<div class="row no-margin h-100">
					<div class="bg-layer d-flex col-md-4">
						<div class="form-login">
							<div class="login-box row">
								<h3 style="margin-top: 20px;">비밀번호 찾기</h3>
								<form class="form-signin" th:action="@{/login/findPassword}"
									method="post">
									<input id="idMac" name="idMac" placeholder="아이디 입력" type="text"
										class="form-control" style="margin-top: 30px;"> <input
										id="nameMac" name="nameMac" placeholder="이름 입력" type="text"
										class="form-control"> <input id="emailMac"
										name="emailMac" type="text" placeholder="이메일 입력"
										class="form-control">
									<button class="btn btn-success">비밀번호 찾기</button>
								</form>
								<form>
									<div class="link_user"
										style="text-align: center; margin-top: 20px; margin-bottom: 5px;">
										<a href="/user/addForm">회원등록</a> | <a href="/login/findId">아이디</a>/
										<a href="/findPassword">비밀번호 찾기</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>



	<!-- Footer Start -->

	<div class="container-fluid text-white" style="background: #061429;">
		<div class="container text-center">
			<div class="row justify-content-end">
				<div class="col-lg-8 col-md-6">
					<div class="d-flex align-items-center justify-content-center"
						style="height: 75px;">
						<p class="mb-0">
							&copy; <a class="text-white border-bottom" href="#">Your Site
								Name</a>. All Rights Reserved.

							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed by <a class="text-white border-bottom"
								href="https://htmlcodex.com">HTML Codex</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer End -->


	<!-- Back to Top -->
	<a href="#"
		class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i
		class="bi bi-arrow-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/login/lib/wow/wow.min.js"></script>
	<script src="/login/lib/easing/easing.min.js"></script>
	<script src="/login/lib/waypoints/waypoints.min.js"></script>
	<script src="/login/lib/counterup/counterup.min.js"></script>
	<script src="/login/lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- 	<!-- Template Javascript -->
	<script src="/login/js/main.js"></script>

	<script src="/login/js/jquery-3.2.1.min.js"></script>
	<script src="/login/js/popper.min.js"></script>
	<script src="/login/js/bootstrap.min.js"></script>
	<script src="/login/js/script.js"></script>

</body>

</html>