<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.mac.demo.mappers.AttachMapper">
	
	
	<insert id="insertAttach" parameterType="com.mac.demo.model.Attach">
				INSERT INTO ATTACH(NUMMAC, PCODEMAC, IDMAC, NICKNAMEMAC, WDATEMAC, FILENAMEMAC, FILEPATHMAC) 
				VALUES(attach_num.NEXTVAL, #{pcodeMac}, #{idMac}, #{nickNameMac}, #{wdateMac}, #{fileNameMac}, #{filepathMac})
	</insert>
	
	<select id="getIndex" resultType="Integer">
		SELECT MAX(NUMMAC) 
		FROM
		(
		SELECT NUMMAC FROM board
		)
	</select>
	
	<select id="getFileList" parameterType="Integer" resultType="com.mac.demo.model.Attach">
		SELECT *
		FROM ATTACH
		WHERE PCODEMAC=#{pcodeMac}
	</select>
	
	
	<select id="getFname" parameterType="Integer" resultType="String">
				SELECT filenamemac
				  FROM attach
				 WHERE numMac=#{numMac}
	</select>
	
	<delete id="filedelete" parameterType="Integer">
				DELETE FROM ATTACH WHERE NUMMAC=#{num}
	</delete>
	
	<!-- 신규 글쓰기폼에서 FILE INSERT -->
	<update id="insertMultiAttach" parameterType="java.util.List">
		<selectKey keyProperty="num" resultType="integer" order="BEFORE">
	    	<!--  현재 인덱스 값을 가져오는 것 -->
	        SELECT CASE WHEN MAX(NUMMAC)+1 is null THEN 1
                    ELSE MAX(NUMMAC) END
            FROM BOARD
	    </selectKey>
	    
    	INSERT INTO ATTACH (NUMMAC, PCODEMAC, IDMAC, NICKNAMEMAC, WDATEMAC, FILENAMEMAC, FILEPATHMAC)
    	SELECT ATTACH_NUM.NEXTVAL, t.* FROM
    	(
    	<foreach collection="list" item="item" index="index" separator="union all">
			SELECT #{num}, #{item.idMac}, #{item.nickNameMac}, SYSDATE, #{item.fileNameMac}, #{item.filepathMac} FROM DUAL
    	</foreach>
    	) t
	</update>
	
	<!-- 수정폼에서 FILE UPDATE -->
	<insert id="updateMultiAttach" parameterType="java.util.List">
	    
    	INSERT INTO ATTACH (NUMMAC, PCODEMAC, IDMAC, NICKNAMEMAC, WDATEMAC, FILENAMEMAC, FILEPATHMAC)
    	SELECT ATTACH_NUM.NEXTVAL, t.* FROM
    	(
    	<foreach collection="list" item="item" index="index" separator="union all">
			SELECT #{item.pcodeMac}, #{item.idMac}, #{item.nickNameMac}, SYSDATE, #{item.fileNameMac}, #{item.filepathMac} FROM DUAL
    	</foreach>
    	) t
	</insert>
	
</mapper>