<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mac.demo.mappers.BigdataMapper">

	<select id="getgu" parameterType="String" resultType="String">
		select TRDAR_TW_NM from ${kind} GROUP BY TRDAR_TW_NM
	</select>

	<select id="getdong" parameterType="String" resultType="String">
		SELECT TRDAR_VG_NM from ${kind} where TRDAR_TW_NM = #{gu} group by TRDAR_VG_NM 
	</select>

	<select id="getgil" parameterType="String" resultType="String">
		 SELECT TRDAR_CD_NM from ${kind} where TRDAR_VG_NM = #{dong} group by TRDAR_CD_NM
	</select>

	<select id="getxy" parameterType="String" resultType="com.mac.demo.model.XY">
		 SELECT X, Y from location where TRDAR_CD_NM = #{gil}
	</select>

	<select id="getsvc" parameterType="String" resultType="String">
		select SVC_INDUTY_CD_NM from ${kind} where TRDAR_CD_NM=#{gil} GROUP BY SVC_INDUTY_CD_NM ORDER BY SVC_INDUTY_CD_NM 
	</select>

	<select id="getyear" parameterType="String" resultType="String">
		select STDR_YY_CD from ${kind} where TRDAR_CD_NM=#{thisgil} and SVC_INDUTY_CD_NM=#{thissvc} GROUP BY STDR_YY_CD ORDER by STDR_YY_CD
	</select>
	
	<select id="getquarter" parameterType="String" resultType="String">
		select STDR_QU_CD from ${kind} where SVC_INDUTY_CD_NM=#{thissvc} and TRDAR_CD_NM=#{thisgil} and STDR_YY_CD=#{year} GROUP BY STDR_QU_CD ORDER by STDR_QU_CD
	</select>

	<select id="getPopyear" parameterType="String" resultType="String">
		select STDR_YY_CD from ${kind} where TRDAR_CD_NM=#{gil} GROUP BY STDR_YY_CD ORDER by STDR_YY_CD
	</select>
	
	<select id="getPopquarter" parameterType="String" resultType="String">
		select STDR_QU_CD from ${kind} where TRDAR_CD_NM=#{thisgil} and STDR_YY_CD=#{year} GROUP BY STDR_QU_CD ORDER by STDR_QU_CD
	</select>
</mapper>