<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mac.demo.mappers.BoardMapper">
<!--  
	<insert id="save" parameterType="com.mac.demo.model.Board">
		INSERT INTO free_board(NUMMAC,NICKNAMEMAC,TITLEMAC,CONTENTSMAC,WDATEMAC,PCODEMAC)
		VALUES(BOARD_NUM.NEXTVAL,#{nickNameMac},#{titleMac},#{contentsMac},SYSDATE,#{pcodeMac})
	</insert>
-->


	<select id="getAdsList" resultType="com.mac.demo.model.Board">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC,
			(SELECT COUNT(*)
			FROM comment_board c
			WHERE c.pcodemac = a.nummac) COUNTMAC
		FROM ads_board a
		ORDER BY NUMMAC
		DESC
	</select>

	<select id="getFreeList" resultType="com.mac.demo.model.Board">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC,
			(SELECT COUNT(*)
			FROM comment_board c
			WHERE c.pcodemac = f.nummac) COUNTMAC
		FROM free_board f
		ORDER BY NUMMAC
		DESC
	</select>
	
	<select id="getNoticeList" resultType="com.mac.demo.model.Board">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC
		FROM notice_board n
		ORDER BY NUMMAC
		DESC
	</select>
	
	<insert id="saveToFree"
	        parameterType="com.mac.demo.model.Board" 
	        useGeneratedKeys="true" 
	       	keyColumn="NUMMAC" keyProperty="numMac">
	
	   INSERT INTO free_board(NUMMAC,NICKNAMEMAC,TITLEMAC,CONTENTSMAC,WDATEMAC,IDMAC)
			VALUES(BOARD_NUM.NEXTVAL,#{nickNameMac},#{titleMac},#{contentsMac},SYSDATE,#{idMac})
	
	</insert>
	
	<insert id="saveToAds"
	        parameterType="com.mac.demo.model.Board" 
	        useGeneratedKeys="true" 
	       	keyColumn="NUMMAC" keyProperty="numMac">
	
	   INSERT INTO ads_board(NUMMAC,NICKNAMEMAC,TITLEMAC,CONTENTSMAC,WDATEMAC,IDMAC)
			VALUES(BOARD_NUM.NEXTVAL,#{nickNameMac},#{titleMac},#{contentsMac},SYSDATE,#{idMac})
	
	</insert>
	
<!-- 검색 : 닉네임, 제목+내용 -->
	<select id="getFreeListByKeyword" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC,
			(SELECT COUNT(*)
			FROM comment_board c
			WHERE c.pcodemac = f.nummac) COUNTMAC
		FROM free_board f
		WHERE TITLEMAC 
		LIKE '%'||#{keyword}||'%'
		OR CONTENTSMAC
		LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="getFreeListByNickName" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC,
			(SELECT COUNT(*)
			FROM comment_board c
			WHERE c.pcodemac = f.nummac) COUNTMAC
		FROM free_board f
		WHERE NICKNAMEMAC 
		LIKE '%'||#{nickNameMac}||'%'
		ORDER BY NUMMAC
		DESC
	</select>
	
		<select id="getAdsListByKeyword" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC,
			(SELECT COUNT(*)
			FROM comment_board c
			WHERE c.pcodemac = f.nummac) COUNTMAC
		FROM ads_board f
		WHERE TITLEMAC 
		LIKE '%'||#{keyword}||'%'
		OR CONTENTSMAC
		LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="getAdsListByNickName" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC,
			(SELECT COUNT(*)
			FROM comment_board c
			WHERE c.pcodemac = f.nummac) COUNTMAC
		FROM ads_board f
		WHERE NICKNAMEMAC 
		LIKE '%'||#{nickNameMac}||'%'
		ORDER BY NUMMAC
		DESC
	</select>
	
		<select id="getNoticeListByKeyword" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC
		FROM notice_board 
		WHERE TITLEMAC 
		LIKE '%'||#{keyword}||'%'
		OR CONTENTSMAC
		LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="getNoticeListByNickName" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT NUMMAC, IDMAC, NICKNAMEMAC, TITLEMAC, CONTENTSMAC, WDATEMAC
		FROM notice_board 
		WHERE NICKNAMEMAC 
		LIKE '%'||#{nickNameMac}||'%'
		ORDER BY NUMMAC
		DESC
	</select>
	
	<select id="getCommentList" resultType="com.mac.demo.model.Comment">
		SELECT * 
		FROM comment_board 
		WHERE PCODEMAC=#{pcodeMac}
		ORDER BY NUMMAC
		DESC
		
	</select>
	<insert id="commentsave"
	        parameterType="com.mac.demo.model.Comment" 
	        useGeneratedKeys="true" 
	       	keyColumn="NUMMAC" keyProperty="numMac">
	
	   INSERT INTO comment_board(NUMMAC, PCODEMAC, IDMAC, NICKNAMEMAC, COMMENTMAC, WDATEMAC)
			VALUES(COMMENT_NUM.NEXTVAL, #{pcodeMac}, #{idMac}, #{nickNameMac}, #{commentMac}, SYSDATE)
	
	</insert>
	
	<!-- 상세보기 -->
	
	<select id="getFreeDetail" resultType="com.mac.demo.model.Board">
		SELECT * FROM free_board WHERE NUMMAC=#{numMac}
	</select>
	
	<select id="getAdsDetail" resultType="com.mac.demo.model.Board">
		SELECT * FROM ads_board WHERE NUMMAC=#{numMac}
	</select>
	
	<select id="getNoticeDetail" resultType="com.mac.demo.model.Board">
		SELECT * FROM notice_board WHERE NUMMAC=#{numMac}
	</select>
	
	<!-- update/delete -->

	<update id="Freeedit" parameterType="com.mac.demo.model.Board">
		UPDATE free_board SET TITLEMAC=#{titleMac}, CONTENTSMAC=#{contentsMac} WHERE NUMMAC=#{numMac}
	</update>
	<update id="Adsedit" parameterType="com.mac.demo.model.Board">
		UPDATE ads_board SET TITLEMAC=#{titleMac}, CONTENTSMAC=#{contentsMac} WHERE NUMMAC=#{numMac}
	</update>
	<update id="Noticeedit" parameterType="com.mac.demo.model.Board">
		UPDATE notice_board SET TITLEMAC=#{titleMac}, CONTENTSMAC=#{contentsMac} WHERE NUMMAC=#{numMac}
	</update>
	
	<delete id="Freedelete" parameterType="com.mac.demo.model.Board">
		DELETE FROM free_board WHERE NUMMAC=#{numMac}
	</delete>
	<delete id="Adsdelete" parameterType="com.mac.demo.model.Board">
		DELETE FROM ads_board WHERE NUMMAC=#{numMac}
	</delete>
	<delete id="Noticedelete" parameterType="com.mac.demo.model.Board">
		DELETE FROM notice_board WHERE NUMMAC=#{numMac}
	</delete>
	
	<delete id="commentdelete" parameterType="com.mac.demo.model.Board">
		DELETE FROM comment_board WHERE NUMMAC=#{numMac}
	</delete>
	
	<delete id="freeCommentAllDelete" parameterType="com.mac.demo.model.Comment">
		DELETE FROM comment_board WHERE PCODEMAC=#{numMac}
	</delete>
	<delete id="adsCommentAllDelete" parameterType="com.mac.demo.model.Comment">
		DELETE FROM comment_board WHERE PCODEMAC=#{numMac}
	</delete>
	
	
	
	<!-- 닉네임에서 id로 가져오기 -->
	<select id="getMypageInFreeBoard" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT * FROM free_board WHERE idMac=#{idMac}
	</select>
	<select id="getMypageInAdsBoard" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT * FROM ads_board WHERE idMac=#{idMac}
	</select>

</mapper>