<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mac.demo.mappers.BoardMapper">
<!--  
	<insert id="save" parameterType="com.mac.demo.model.Board">
		INSERT INTO free_board(NUMMAC,NICKNAMEMAC,TITLEMAC,CONTENTSMAC,WDATEMAC,PCODEMAC)
		VALUES(BOARD_NUM.NEXTVAL,#{nickNameMac},#{titleMac},#{contentsMac},SYSDATE,#{pcodeMac})
	</insert>
-->

<!-- 게시판 작성후 바로 상세보기로 가기위한 insert 하지만 이렇게 하기위해선 numMac가 pk필요 -->
<insert id="save"
        parameterType="com.mac.demo.model.Board" 
        useGeneratedKeys="true" 
       keyColumn="NUMMAC" keyProperty="numMac">

   INSERT INTO free_board(NUMMAC,NICKNAMEMAC,TITLEMAC,CONTENTSMAC,WDATEMAC,PCODEMAC,IDMAC)
		VALUES(BOARD_NUM.NEXTVAL,#{nickNameMac},#{titleMac},#{contentsMac},SYSDATE,#{pcodeMac},#{idMac})

</insert>

<insert id="commentsave"
        parameterType="com.mac.demo.model.Comment" 
        useGeneratedKeys="true" 
       keyColumn="PCODEMAC" keyProperty="pcodeMac">

   INSERT INTO comment_board(PCODEMAC,IDMAC,COMMENTMAC,WDATEMAC)
		VALUES(#{pcodeMac},#{idMac},#{commentMac},SYSDATE)

</insert>

	<select id="getList" resultType="com.mac.demo.model.Board">
		SELECT * FROM free_board
	</select>
	
	<select id="getCommentList" resultType="com.mac.demo.model.Comment">
		SELECT * FROM comment_board WHERE PCODEMAC=#{pcodeMac}
	</select>
	
	<select id="getAdsList" resultType="com.mac.demo.model.Board">
		SELECT * FROM ads_board
	</select>
	
	<select id="getNoticeList" resultType="com.mac.demo.model.Board">
		SELECT * FROM notice_board
	</select>
	
	<select id="getDetail" resultType="com.mac.demo.model.Board">
		SELECT * FROM free_board WHERE NUMMAC=#{numMac}
	</select>

	<update id="edit" parameterType="com.mac.demo.model.Board">
		UPDATE free_board SET TITLEMAC=#{titleMac}, CONTENTSMAC=#{contentsMac} WHERE NUMMAC=#{numMac}
	</update>
	
	<delete id="delete" parameterType="com.mac.demo.model.Board">
		DELETE FROM free_board WHERE NUMMAC=#{numMac}
	</delete>
	
	<!-- 닉네임에서 id로 가져오기 -->
	<select id="getMypageInFreeBoard" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT * FROM free_board WHERE idMac=#{idMac}
	</select>
	<select id="getMypageInAdsBoard" resultType="com.mac.demo.model.Board" parameterType="String">
		SELECT * FROM ads_board WHERE idMac=#{idMac}
	</select>

</mapper>