<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mac.demo.mappers.LoginMapper">

	<select parameterType="String" id="loginUser" resultType="String">
		SELECT idMac FROM user_tb WHERE idMac=#{idMac} AND pkg_crypto.decrypt(pwMac)=#{pwMac}
	</select>

	<select parameterType="String" id="findId" resultType="String">
		SELECT idMac FROM user_tb WHERE nameMac=#{nameMac} AND emailMac=#{emailMac}
	</select>

	<select parameterType="String" id="findPassword" resultType="String">
		SELECT pkg_crypto.decrypt(pwMac) FROM user_tb WHERE idMac=#{idMac} AND nameMac=#{nameMac} AND emailMac=#{emailMac}
	</select>
	
</mapper> 