<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mac.demo.mappers.UserMapper">

	<insert id="add" parameterType="com.mac.demo.model.User">
		INSERT INTO USER_TB(nummac, idmac, pwmac, nicknamemac, emailmac, gendermac, birthmac, phonenummac, citymac, townmac, villagemac, managermac, namemac) 
		VALUES(USER_NUM.nextval,#{idMac},#{pwMac},#{nickNameMac},#{emailMac},#{genderMac},#{birthMac},#{phoneNumMac},#{cityMac},#{townMac},#{villageMac},#{managerMac},#{nameMac})
	</insert>

	<select id="getList" resultType="com.mac.demo.model.User">
		SELECT * FROM USER_TB
	</select>
	
	<select id="getOne" resultType="com.mac.demo.model.User">
		SELECT * FROM USER_TB WHERE idmac= #{idMac}
	</select>

	<update id="updated" parameterType="com.mac.demo.model.User">
		UPDATE USER_TB SET pwmac=#{pwMac}, emailmac=#{emailMac}, phonenummac=#{phoneNumMac}, citymac=#{cityMac}, townmac=#{townMac}, villagemac=#{villageMac} WHERE idmac=#{idMac}
	</update>
	
	<delete id="deleted" parameterType="String">
		DELETE FROM USER_TB WHERE idmac=#{idMac}
	</delete>
	
</mapper>