<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>마이페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript">
	function deleted() {
		if(!confirm('삭제하면 복구할 수 없습니다. \n 정말로 삭제하시겠습니까?')) {
			return false;
		}
		
		
		$.ajax({
			url:'/user/deleted',
			method:'post',
			cache:false,
			data:$('#del').serialize(),
			dataType:'json',
			success:function(res){
				alert(res.result ? '삭제 성공':'삭제 실패');
				location.href="/home";
			},
			error:function(xhr,status, err){
				alert('에러:'+err);
			}
		});
		return false;
	}
	
	</script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/main/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/main/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/main/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/main/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <!--div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div-->
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/home" class="navbar-brand p-0">
            
                <h1 class="m-0"><i class="bi bi-house-door"></i>&nbsp;&nbsp;창업 커뮤니티 및 상권정보</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="/board/main" class="nav-link dropdown-toggle">커뮤니티</a>
                        <div class="dropdown-menu m-0">
                            <a href="/board/free/list" class="dropdown-item">자유게시판</a>
                            <a href="/board/ads/list" class="dropdown-item">광고게시판</a>
                            <a href="/board/notice/list" class="dropdown-item">공지사항</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">상권 정보 분석</a>
                        <div class="dropdown-menu m-0">
                            <a href="price.html" class="dropdown-item">데이터 시각화</a>
                            <a href="feature.html" class="dropdown-item">데이터 분석</a>
                            
                        </div>
                    </div>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">이용안내</a>
                        <div class="dropdown-menu m-0">
                            <a href="/home/dataSource" class="dropdown-item">데이터 출처</a>
                            <a href="/home/siteIntroduction" class="dropdown-item">사이트 소개</a>
                            
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div th:if="${idMac==null}">
                <a href="/login/loginForm" class="btn btn-primary py-2 px-4 ms-3">로그인</a>
                <a href="/user/addForm" class="btn btn-primary py-2 px-4 ms-3">회원가입</a>
         </div>
         <div th:if="${idMac !=null}">
         <h5 th:text="${idMac}+'님 환영합니다'" th:style="'color:gray'"></h5>
          <a href="" class="btn btn-primary py-2 px-4 ms-3" id="logout">로그아웃</a>
          <a th:href="'/user/detail/'+${idMac}" class="btn btn-primary py-2 px-4 ms-3">마이페이지</a>
         </div>
            </div>
        </nav>
    <!-- Navbar End -->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="all">
        <div class="row">
        <div class="col">
        <div class="input-form" id="form">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">My Page</h1>
            </div>
            
            <div class="input-form-backgroud">
				<div class="col-md-20 mb-3" th:if="*{idMac!=null}">
				
					<div class="row">
					
					<div class="col-sm-6">
					<img src="/main/img/defultProfile.png" style="width: 260px; height: 350px;">
					</div>
					
					<div>&nbsp;</div>
					
					<div class="col-sm-12" id="info">
							        <div class="card mb-4" id="usertable">
							          <div class="card-body">
							            <div class="row">
							              <div class="col-sm-3">
							                <p class="mb-0" >이름</p>
							              </div>
							              <div class="col-sm-9">
							                <p class="text-muted mb-0" th:text="${user.nameMac}"></p>
							              </div>
							            </div>
							            <hr>
							            <div class="row">
							              <div class="col-sm-3">
							                <p class="mb-0">닉네임</p>
							              </div>
							              <div class="col-sm-9">
							                <p class="text-muted mb-0" th:text="${user.nickNameMac}"></p>
							              </div>
							            </div>
							            <hr>
							            <div class="row">
							              <div class="col-sm-3">
							                <p class="mb-0">이메일</p>
							              </div>
							              <div class="col-sm-9">
							                <p class="text-muted mb-0" th:text="${user.emailMac}"></p>
							              </div>
							            </div>
							            <hr>
							            <div class="row">
							              <div class="col-sm-3">
							                <p class="mb-0">전화번호</p>
							              </div>
							              <div class="col-sm-9">
							                <p class="text-muted mb-0" th:text="${user.phoneNumMac}"></p>
							              </div>
							            </div>
							            <hr>
							            <div class="row">
							              <div class="col-sm-3">
							                <p class="mb-0">주소</p>
							              </div>
							              <div class="col-sm-9">
							                <p class="text-muted mb-0" th:text="${user.cityMac}+'-'+${user.townMac}+'-'+${user.villageMac}"></p>
							              </div> 
							            </div>
							             <hr>

							          </div>
				 <div id=button>
				    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.3s">
					<form id="update" th:object="${user}" action="/user/updateForm">
						<input type="hidden" name="idMac" th:value="*{idMac}">
						<button class="btn btn-outline-success" type="submit">수정</button>
					</form> 
					
					<form id="del" th:object="${user}" onsubmit="return deleted();">
						<input type="hidden" name="idMac" th:value="*{idMac}">
						<button class="btn btn-outline-danger" type="submit">회원 탈퇴</button>
					</form>
			</div>
			</div>
							       
					</div>
				</div>
            </div>
            </div>
				
        </div>
        </div>
        <div class="col" >
        <div class="input-form" id="myPageWrite">
        	<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">My Write</h1>
                
            </div>
            <div class="inner">
          	<div class="col-sm-12" id="writetable">
							        <div class="card mb-4" id="table">
							          <div class="card-body">
							          
							      <table class="table project-table table-centered">
								<thead>
									<tr>
										<th scope="col">No.</th>
										<th scope="col">제목</th>
										<th scope="col">작성자</th>
										<th scope="col">작성일</th>
										<th scope="col">게시판 이름</th>
										
									
									</tr>
								</thead>
									  <tbody>
									<tr th:each="myWrite : ${pageInfo.list}">
										<td th:text="${myWrite.numMac}"></td>
										<td th:if="${myWrite.tableMac}=='ADS_BOARD'"><a th:text="${myWrite.titleMac}"
											th:href="@{'/board/ads/detail/'+ ${myWrite.numMac}}"></a> 
										</td>
										
										<td th:if="${myWrite.tableMac}=='FREE_BOARD'"><a th:text="${myWrite.titleMac}"
											th:href="@{'/board/free/detail/'+ ${myWrite.numMac}}"></a> 
										</td>
										<td th:text="${myWrite.nickNameMac}"></td>
										<td th:text="${myWrite.wdateMac}"></td>
										<td th:if="${myWrite.tableMac}=='ADS_BOARD'">광고 게시판</td>
										<td th:if="${myWrite.tableMac}=='FREE_BOARD'">자유 게시판</td>
									</tr>
								</tbody>
								
					        <div class="pt-3" align="center" id="writepage">
							<ul class="pagination justify-content-center mb-0">
								<span th:if="${page!=1}"> <a class="page-link"
									th:href="@{'/user/detail/'+${idMac}+'?page='+${page-1}}">Previous</a>
								</span>
								<span th:unless="${page!=1}">
									<li class="page-item disabled"><a class="page-link"
										th:href="@{'/user/detail/'+${idMac}+'?page='+${page-1}}">Previous</a></li>
								</span>
								<span th:each="i :${pageInfo.navigatepageNums}"> <span
									th:if="${i==pageInfo.pageNum}">
										<li class="page-item active"><span class="page-link"
											th:text="${i}"></span></li>
								</span> <span th:if="${i!=pageInfo.pageNum}"> <a
										class="page-link" th:text='${i}'
										th:href="'/user/detail/'+${idMac}+'?page='+(${i})"></a>
								</span>
								</span>
								<span th:if="${page}!=${pageInfo.getNavigateLastPage}"> <a
									class="page-link"
									th:href="@{'/user/detail/'+${idMac}+'?page='+${page+1}}">Next</a>
								</span>
								<span th:unless="${page}!=${pageInfo.getNavigateLastPage}">
									<li class="page-item disabled"><a class="page-link"
										th:href="@{'/user/detail/'+${idMac}+'?page='+${page+1}}">Next</a></li>
								</span>
							</ul>
						</div>
							</table>
							            
	
							       
					</div>
				</div>
                </div>
        </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Service End -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/main/lib/wow/wow.min.js"></script>
    <script src="/main/lib/easing/easing.min.js"></script>
    <script src="/main/lib/waypoints/waypoints.min.js"></script>
    <script src="/main/lib/counterup/counterup.min.js"></script>
    <script src="/main/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/main/js/main.js"></script>
</body>

</html>