<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>게시판 글 입력폼</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- Favicon -->
<link href="/main/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/main/lib/animate/animate.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/main/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link rel="stylesheet" type="text/css" href="/main/css/style.css">
<link rel="stylesheet" type="text/css" href="/main/css/ref_swiper.min.css">
<link rel="stylesheet" type="text/css" href="/main/css/ref_style.css">
<link rel="stylesheet" type="text/css" href="/main/css/all.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous">
</script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
	
<script type="text/javascript">
	var msg = '[[${msg}]]';
	if(msg != ""){
		alert(msg);
		location.href="/board/ads/list";
	}

</script>
</head>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/home" class="navbar-brand p-0">
            
                <h1 class="m-0"><i class="bi bi-house-door"></i>&nbsp;&nbsp;창업 커뮤니티 및 상권정보</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="/board/main" class="nav-link dropdown-toggle">커뮤니티</a>
                        <div class="dropdown-menu m-0">
                            <a href="/board/free/list" class="dropdown-item">자유게시판</a>
                            <a href="/board/ads/list" class="dropdown-item">광고게시판</a>
                            <a href="/board/notice/list" class="dropdown-item">공지사항</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">상권 정보 분석</a>
                        <div class="dropdown-menu m-0">
                            <a href="price.html" class="dropdown-item">그래프 시각화</a>
                            <a href="feature.html" class="dropdown-item">지도 시각화</a>
                            
                        </div>
                    </div>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">이용안내</a>
                        <div class="dropdown-menu m-0">
                            <a href="price.html" class="dropdown-item">데이터 시각화</a>
                            <a href="feature.html" class="dropdown-item">데이터 분석</a>
                            
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div th:if="${idMac==null}">
	                <a href="/login/loginForm" class="btn btn-primary py-2 px-4 ms-3">로그인</a>
	                <a href="/user/addForm" class="btn btn-primary py-2 px-4 ms-3">회원가입</a>
         		</div>
         	</div>
	         <div th:if="${idMac !=null}">
		         <h5 th:text="${idMac}+'님 환영합니다'" th:style="'color:gray'"></h5>
		          <a href="" class="btn btn-primary py-2 px-4 ms-3" id="logout">로그아웃</a>
		         <a th:href="'/user/detail/'+${idMac}" class="btn btn-primary py-2 px-4 ms-3">마이페이지</a>
	         </div>
		</nav>
	</div>
    <!-- Navbar End -->
    
    <br> <br> <br><br> <br> <br>
	<main>
	<div class="inner">
			<div class="col-lg-8 col-md-8">
				<h1 class="fw-light">광고게시판</h1>
			</div>
		<h3>게시판 글 입력 폼</h3>
		<form id="input_form" th:object="${board}" onsubmit="return save();">
			<input type="hidden" th:field="*{nickNameMac}" name="nickNameMac">
			<input type="hidden" th:value="${idMac}" name="idMac">
				<br>
			<div>
				<label for="titleMac" class="form-label">
					<font size="4">제목</font>
				</label>
				<input type="text" class="form-control" name="titleMac" th:field="*{titleMac}" style="border-radius:10px;">
			</div>
			&nbsp;
			<div>
				<label for="contentsMac" class="form-label">
					<font size="4">글내용</font>
				</label>
				<textarea name="contentsMac" cols="110" rows="11" class="form-control" th:field="*{contentsMac}" style="border-radius:10px;"></textarea>
			</div>
			<br>
			<div>
				<button type="submit" class="btn btn-primary py-2 px-4 ms-3">글쓰기</button>
			<a href="/board/ads/list" class="btn btn-primary py-2 px-4 ms-3">글목록</a>
			</div>
		</form>
		<nav>
		</nav>
		</div>
	<!-- JavaScript Libraries -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/main/lib/wow/wow.min.js"></script>
		<script src="/main/lib/easing/easing.min.js"></script>
		<script src="/main/lib/waypoints/waypoints.min.js"></script>
		<script src="/main/lib/counterup/counterup.min.js"></script>
		<script src="/main/lib/owlcarousel/owl.carousel.min.js"></script>

		<!-- Template Javascript -->
		<script src="/main/js/main.js"></script>
		<script src="/main/js/board.js"></script>
	</main>
	<footer class="text-muted py-5">
		<div class="container">
			<p class="float-end mb-1">
				<a href="#">Back to top</a>
			</p>
			<p class="mb-1">Album example is &copy; Bootstrap, but please
				download and customize it for yourself!</p>
			<p class="mb-0">
				New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
					href="../getting-started/introduction/">getting started guide</a>.
			</p>
		</div>
	</footer>
</body>
</html>