<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 수정</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
	function edit() {
		$.ajax({
			url:'/board/free/edit',
			method:'post',
			cache:false,
			data:$('#edit_form').serialize(),
			dataType:'json',
			success:function(res){ //res는 object
					alert(res.updated ? '수정 성공' : '수정실패'); //res object 안에있는 num
					location.href="/board/free/list";
			},
			error:function(xhr,status,err){
				alert(err);
			}
		});
		return false;
	}
</script>
<style type="text/css">
	main { width:fit-content; margin:10px auto; }
	main>h3 { width:fit-content; margin:10px auto; }
	table {border:1px solid black; width:600px; border-spacing:0; border-collapse: collapse;}
	th{ border-right:3px double black; background-color:#eee; width:15%;}
	tr:last-child td { width:85%; height:7em; overflow: auto;}
	th, td { border-bottom: 1px solid black; padding:5px;}
	td:nth-child(2) { width:15%;}
	footer { width:fit-content; margin:1em auto; }
	a { text-decoration: none; }
</style>
</head>
<body>
<main>
<h3>게시글 상세보기</h3>
<hr>
<form id="edit_form" onsubmit="return edit();">
<input type="hidden" id="idMac" name="idMac" th:value="${board.idMac}">
<input type="hidden" id="numMac" name="numMac" th:value="${board.numMac}">
<table>
<tr>
	<th>번호</th>
		<td th:text="${board.numMac}" th:name="numMac" placeholder></td>
	<th>제목</th>
		<td>
			<input type="text" name="titleMac" th:value='${board.titleMac}'>
		</td>
</tr>
	<tr>
		<th>작성자</th>
			<td th:text='${board.nickNameMac}'></td>
		<th>작성일</th>
			<td th:text='${board.wdateMac}' th:name='wdateMac'></td></tr>
	<tr>
		<th>내용</th>
			<td><input type="text" name="contentsMac" th:value='${board.contentsMac}'></td>
</tr>
</table>
	<input type="submit" value="저장">
</form>
<br>
<footer>
	[<a href="/board/free/list">글목록</a>] &nbsp;&nbsp;
</footer>
</main>
</body>
</html>