<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:inline="javascript">

function deleted(numMac) {
	if(!confirm('해당 게시물 삭제하시겠어요?')) return;
	$.ajax({
		url:'/admin/freeBoardDeleted/'+numMac,
		method:'get',
		cache:false,
		data:$('#del').serialize(),
		dataType:'json',
		success:function(res){
			alert(res.result ? '삭제 성공':'삭제 실패');
			location.href="/admin/allFreeBoard";
		},
		error:function(xhr,status, err){
			alert('에러:'+err);
		}
	});
	return false;
}
</script>
</head>
<body>

<ul class="nav">
  
  <li class="nav-item">
    <a class="nav-link" href="/admin/allUser">모든계정</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/allFreeBoard">모든 자유게시물</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/admin/allAdsBoard">모든 광고게시물</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/admin">메인으로</a>
  </li>
</ul>

 <div th:if="${#lists.isEmpty(pageInfo.list)}">
    <h2>자유게시판 글</h2>
     <h3>글이 없습니다</h3>
   </div>
   
   
<main th:unless="${#lists.isEmpty(pageInfo.list)}">
<h3>모든 자유게시글</h3>
<table class="table table-bordered">

<tr>
	<td>numMac</td>
	<td>idMac</td>
	<td>nickNameMac</td>
	<td>titleMac</td>
	<td>contentsMac</td>
	<td>wdateMac</td>
	<td>게시물 삭제</td>
	
	
</tr>
<tr th:each="free : ${pageInfo.list}">
	<td th:text="${free.numMac}"></td>
	<td th:text="${free.idMac}"></td>
	<td th:text="${free.nickNameMac}"></td>
	<td th:text="${free.titleMac}"></td>
	<td th:text="${free.contentsMac}"></td>
	<td th:text="${free.wdateMac}"></td>
<td> <button th:onclick="javascript:deleted([[${free.numMac}]])">추방</button></td>
	

</tr>
</table>


<span th:each="i :${pageInfo.navigatepageNums}" >

<span th:if="${i==pageInfo.pageNum}">
 <span th:text="${i}"></span>
</span>

<span th:if="${i!=pageInfo.pageNum}">
[<a th:text='${i}' th:href="'/admin/allFreeBoard?page='+(${i})"></a>]
</span>
</span>
</main>
</body>
</html>