<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상권정보</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- Favicon -->
<link href="/main/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/main/lib/animate/animate.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/main/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Template Stylesheet -->
<link rel="stylesheet" type="text/css" href="/main/css/style.css">
<link rel="stylesheet" type="text/css" href="/main/css/ref_swiper.min.css">
<link rel="stylesheet" type="text/css" href="/main/css/ref_style.css">
<link rel="stylesheet" type="text/css" href="/main/css/map.css">


</head>
<body>
	<!-- Navbar & Carousel (상단바) Start -->
	<main>
	<header>
	 <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/home" class="navbar-brand p-0">
            
                <h1 class="m-0"><i class="bi bi-house-door"></i>&nbsp;&nbsp;창업 커뮤니티 및 상권정보</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="/board/main" class="nav-link dropdown-toggle">커뮤니티</a>
                        <div class="dropdown-menu m-0">
                            <a href="/board/free/list" class="dropdown-item">자유게시판</a>
                            <a href="/board/ads/list" class="dropdown-item">광고게시판</a>
                            <a href="/board/notice/list" class="dropdown-item">공지사항</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">상권 정보 분석</a>
                        <div class="dropdown-menu m-0">
					<a href="/big/location" class="dropdown-item">데이터 시각화</a>
				</div>
                    </div>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">이용안내</a>
                        <div class="dropdown-menu m-0">
                            <a href="/home/dataSource" class="dropdown-item">데이터 출처</a>
                            <a href="/home/siteIntroduction" class="dropdown-item">사이트 소개</a>
                            
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div th:if="${idMac==null}">
                <a href="/login/loginForm" class="btn btn-primary py-2 px-4 ms-3">로그인</a>
                <a href="/user/addForm" class="btn btn-primary py-2 px-4 ms-3">회원가입</a>
         </div></div>
         <div th:if="${idMac !=null}">
         <h5 th:text="${idMac}+'님 환영합니다'" th:style="'color:gray'"></h5>
          <a href="" class="btn btn-primary py-2 px-4 ms-3" id="logout">로그아웃</a>
          <a th:href="'/user/detail/'+${idMac}" class="btn btn-primary py-2 px-4 ms-3">마이페이지</a>
         </div>
            
        </nav>
        </div>
        
	</header>
		<br><br><br>
<!-- Navbar & Carousel End -->

<center id="seletedata">
	<br><br><br><br>
	<button onclick="dataTable('sales')" class="btn btn-primary py-2 px-4 ms-3 btn-lg">예상 매출 데이터</button>
	<button onclick="dataTable('population')" class="btn btn-primary py-2 px-4 ms-3 btn-lg">유동인구 데이터</button>
	<button onclick="dataTable('store')" class="btn btn-primary py-2 px-4 ms-3 btn-lg">점포 데이터</button>
</center>
<center>
	<br><br>
	<h3>👆데이터를 먼저 선택해 주세요~👆</h3>
</center>
	<div class="map">
  	<div id="location" class="paraent">
	    <div>
	    <h5>구</h5>
		<select id="gu" onChange="javascript:guevent()" ><option>-- 구를 선택해주세요 --</option></select>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div>
		<h5>동</h5>
		<select id="dong" onChange="javascript:dongevent()" ><option>-- 구를 선택해주세요 --</option></select>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div>
		<h5>골목길</h5>
		<select id="gil" onChange="javascript:gilevent()" ><option>-- 구를 선택해주세요 --</option></select>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<br><br>&nbsp;	
	<div>
		<button id="location_serch" type="button" onclick="start2()" class="btn btn-primary py-2 px-4 ms-3">골목길 지도 검색</button>
	</div>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="map_wrap">
	    <div id="map" style="width:70%;height:110%;position:relative; left:50px; overflow:hidden;"></div>
	</div>
    </div>        
	<div class="data">
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;
		    <center>
		        <form id="data" onsubmit="return flask();">
		        	<input type="hidden" id="dataKind" name="dataKind">
		        	<input type="hidden" id="trdar_name" name="trdar_name">
		            <select id="svc_name" name="svc_name" onChange="javascript:svcevent()"><option>서비스명</option></select>
		            <select id="year" name="year" onChange="javascript:yearevent()"><option>년도</option></select>
		            <select id="quarter" name="quarter"><option>분기</option></select>
		            <select id="check_co" name="check_co">
		            	<option>금액</option>
		            	<option>건수</option>
		            </select>
		        <button id="data_serch" type="submit" class="btn btn-primary py-2 px-4 ms-3">데이터 검색</button>
		        </form>
		    </center>
		    <br>
			<br>    
			
    	 
    	 
    	   <div id="sales_view">
    	   <h3 id="sotre_count"></h3>
		   <div class="container-fluid ">
                <div id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">요일별</h6>
                            </div>
                            <canvas id="sales1"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>

             <div class="container-fluid ">
                <div  id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">시간대별</h6>
                            </div>
                            <canvas id="sales2"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
          
           
             <div class="container-fluid ">
                <div  id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">성별</h6>
                            </div>
                            <canvas id="sales3" width="500" height="200"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
			
			<div class="container-fluid ">
                <div  id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">연령별</h6>
                            </div>
                            <canvas id="sales4"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
            </div>
            
            
            <div id="population_view">
            <h3 id="population_count"></h3>
            <div class="container-fluid ">
                <div  id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">요일별</h6>
                            </div>
                            <canvas id="pupulation4"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="container-fluid ">
                <div  id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">시간대별</h6>
                            </div>
                            <canvas id="pupulation3"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="container-fluid ">
                <div  id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">성별</h6>
                            </div>
                            <canvas id="pupulation1" width="500" height="200"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>	
            <div class="container-fluid ">
                <div  id="mapdata">
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">연령별</h6>
                            </div>
                            <canvas id="pupulation2"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>	
            
            
            
            </div>
            
            <div id="stores_view">
            <h3 id="store_count"></h3>
            <table class="table table-striped table-hover" style="width: 75%;">
            	<tr>
            		<td >유사업종 점포수</td><td id="store1" ></td>
            	</tr>
            	<tr>
            		<td >개업 점포 수</td><td id="store3" ></td>
            	</tr>
            	<tr>
            		<td>개업 율</td><td id="store2" ></td>
            	</tr>
            	<tr>
            		<td >패업 점포 수</td><td id="store5" ></td>
            	</tr>
            	<tr>
            		<td >패업 율</td><td id="store4" ></td>
            	</tr>
            	<tr>
            		<td >프랜차이즈 점포 수</td><td id="store6"></td>
            	</tr>
            </table>
           	</div>
            
	</div> 


	    <!-- JavaScript Libraries -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
			<script src="/main/lib/wow/wow.min.js"></script>
			<script src="/main/lib/easing/easing.min.js"></script>
			<script src="/main/lib/waypoints/waypoints.min.js"></script>
			<script src="/main/lib/counterup/counterup.min.js"></script>
			<script src="/main/lib/owlcarousel/owl.carousel.min.js"></script>
			<script src="/main/lib/chart/chart.min.js"></script>
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	01cb028783685326bfbb992c1e4945ca&libraries=services"></script>
			
	
			<!-- Template Javascript -->
			<script src="/main/js/main.js"></script>
			<script src="/main/js/bigdata.js"></script>
		</main>
		</body>
		<br>
	
</html>