<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">

function sievent() {
	var thisi = document.getElementById("si").value;
	$.ajax({
		url:'/big/dong',
		method:'post',
		cache:false,
		data: {si:thisi},
		dataType:'json',
		success:function(res){
			document.getElementById("dong").innerHTML = res.donglist;
		},
		error:function(xhr,status, err){
			alert('에러:'+err);
		}
	});
	return false;
	
}

function dongevent() {
	var thisdong = document.getElementById("dong").value;
	$.ajax({
		url:'/big/gil',
		method:'post',
		cache:false,
		data: {dong:thisdong},
		dataType:'json',
		success:function(res){
			document.getElementById("gil").innerHTML = res.donglist;
		},
		error:function(xhr,status, err){
			alert('에러:'+err);
		}
	});
	return false;
	
}

</script>
</head>
<body>
<h1>구</h1>
<select id="si" onChange="javascript:sievent()">
	<div th:each="si : ${silist}">
	<option th:value=${si} th:text=${si}></option>
	</div>
</select>

<h1>동</h1>
<select id="dong" onChange="javascript:dongevent()"></select>

<h1>골목길</h1>
<select id="gil"></select>


</body>
</html>